
# Banco de Dados Fonte (PostgreSQL)
DB_HOST=db_fonte
DB_PORT=5432
DB_NAME=fonte_db
DB_USER=fonte_user
DB_PASSWORD=fonte_password

# Banco de Dados Alvo (PostgreSQL)
DB_ALVO_HOST=db_alvo
DB_ALVO_PORT=5432
DB_ALVO_NAME=alvo_db
DB_ALVO_USER=alvo_user
DB_ALVO_PASSWORD=alvo_password
ALVO_DATABASE_URL=postgresql://alvo_user:alvo_password@db_alvo:5432/alvo_db

# API
API_URL=http://api:8000

# Dagster
DAGSTER_HOME=/app/dagster_home
